[Desktop Entry]
Version=1.0
Icon=utilities-terminal
Type=Application
Categories=Application;
Name=Hash
Name[zh_CN]=哈希
Actions=MD5;SHA256;SHA1;SHA512;SHA224;SHA384;BLAKE2;CRC;
X-DFM-MenuTypes=SingleFile;MultiFileDirs;SingleDir;

[Desktop Action MD5]
Name=MD5
Exec=deepin-terminal -e "/usr/lib/dde-file-manager-menu-quick-hash-third-party/hash.sh" MD5 %U

[Desktop Action SHA256]
Name=SHA256
Exec=deepin-terminal -e "/usr/lib/dde-file-manager-menu-quick-hash-third-party/hash.sh" SHA256 %U

[Desktop Action SHA1]
Name=SHA1
Exec=deepin-terminal -e "/usr/lib/dde-file-manager-menu-quick-hash-third-party/hash.sh" SHA1 %U

[Desktop Action SHA512]
Name=SHA512
Exec=deepin-terminal -e "/usr/lib/dde-file-manager-menu-quick-hash-third-party/hash.sh" SHA512 %U

[Desktop Action SHA224]
Name=SHA224
Exec=deepin-terminal -e "/usr/lib/dde-file-manager-menu-quick-hash-third-party/hash.sh" SHA224 %U

[Desktop Action SHA384]
Name=SHA384
Exec=deepin-terminal -e "/usr/lib/dde-file-manager-menu-quick-hash-third-party/hash.sh" SHA384 %U

[Desktop Action BLAKE2]
Name=BLAKE2
Exec=deepin-terminal -e "/usr/lib/dde-file-manager-menu-quick-hash-third-party/hash.sh" BLAKE2 %U

[Desktop Action CRC]
Name=CRC
Exec=deepin-terminal -e "/usr/lib/dde-file-manager-menu-quick-hash-third-party/hash.sh" CRC %U



